* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #212121;
  --secondary-color: #fff;
}

.container {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  position: relative;
}

.container .navbar-menu {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container .navbar-menu .nav-logo {
  width: 100px;
  cursor: pointer;
}
.container .navbar-menu .menuBox {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.container .navbar-menu .menuBox .menu-ctrl{
  display: none;
  
}
.container .navbar-menu .menuBox .menu-ctrl i.show-menu{
  color: var(--secondary-color);
}
.container .navbar-menu .menu li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.container .navbar-menu .menu li a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.3s;
}
.container .navbar-menu .menu li a:hover {
  color: #ff4321;
}

.container .infoSection {
  width: 100%;
  position: relative;
  height: 85.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
.container .infoSection .info-text{
  width: 50%;
  display: flex;
  position: absolute;
  left: 10%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
}
.container .infoSection .info-title {
  font-size: 70px;
  color: var(--secondary-color);
}
.container .infoSection .info-title span {
  color: #ff4321;
}
.container .infoSection .info-comment {
  color: #606163;
  line-height: 22px;
}
.container .infoSection .info-link {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-weight: 600;
  padding: 10px 18px;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
  transition: 0.3s;
}
.container .infoSection .info-link:hover {
  background: transparent;
  color: var(--secondary-color);
  font-weight: 600;
}

.container .infoSection .info-img{
  width: 25%;
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
}
.container .heroImg-section {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .heroImg-section img {
  height: auto;
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  transition: 1s;
}
.container .heroImg-section:hover .back-img {
  bottom: 40px;
}
.container .heroImg-section:hover .main-img {
  right: 50px;
}

.container .social-links {
  margin-left: 8%;
  margin-top: 100px;
}
.container .social-links a {
  font-size: 30px;
  color: var(--secondary-color);
  margin-right: 20px;
  transition: 0.3s;
}
.container .social-links a:hover {
  color: #ff4321;
}


.container .navbar-menu .chenge-theme .icon {
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 825px) {
  .container .navbar-menu .menuBox .menu-ctrl{
    display: block;
    padding-right: 10px;
  }
  .container .navbar-menu .menuBox .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    top: -200px;
    opacity: 0;
    background: var(--primary-color);
    z-index: 5;
    transition: 0.5s;
  }
  .container .navbar-menu .menuBox .menu.show{
    top: 100px !important;
    opacity: 1;
  }
  .container .social-links{
    margin-top: 20px;
  }
  .container .infoSection {
    height: 83.5%;
  }
}
@media screen and (max-width: 530px){
  .container .infoSection{
    height: auto;
    position: static;
  }
  .container .infoSection .info-img{
    display: none;
  }
  .container .infoSection .info-text{
    position: static;
    text-align: center;
    width: 90%;
  }
  .container .infoSection .info-text .info-link{
    display: block;
    margin: 20px auto;
  }
  .container .social-links{
    margin: 0 auto;
    margin-top: 20px;
    display: block;
  }
  .container .social-links a{
    margin: 0 10px;
  }
}